.left-menu{
  width: 20%;
  float: left;
}
.left-menu ul{
  padding-left: 0
}
.left-menu ul li{
  list-style-type: none;
  margin-bottom: 5px;
}
.left-menu ul li a{
  font-size: 20px;
  color: #333;
  transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
  padding-left: 5px;
}
.left-menu ul li a:hover,
.left-menu ul li a.active{
  color: #0074BF;
}
.left-menu span{
  padding-right: 5px;
}
