@font-face {
  font-family: 'Lyon';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/lyon-regular.ttf');
}
*{
  font-family: Lyon
}
nav.navbar{
  padding: 0 150px;
}
div.logo{
  font-size: 48px;
  float: left;
  width: 20%;
}
div.container{
  width: 464px;
}
.main-subtitle{
  font-size: 44px;
  margin-top: 10px;
}
hr{
  border-top: 1px solid #CCCCCC;
}
a{
  color: #0074BF;
  transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
}
a:hover{
  text-decoration: none;
  color: black;
}
a.active{
  font-size: 18px;
}
.body-container{
  padding: 0 150px;
}
.body-content{
  width: 80%;
  float: left;
}

.body-content h4{
  font-size: 22px;
  margin-top: 3px;
  margin-bottom: 20px;
}

.body-content table{
  width: 100%;
  margin-top: 20px;
}
.body-content table td{
  font-size: 18px;
  width: 20%;
  border: 1px solid #CCCCCC;
  text-align: center;
  padding: 10px;
}
td span{
  cursor: pointer;
}
